In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Test 01 de Selección de Variables

* Tamaño de Muestra: 300 millones de datos
* N° de Bandas: 150
* N° de ROIs: 6

Definiciones:
 * Rango en el nivel de la Calidad: 1 - 5, donde 1 es alta calidad y 5 es baja calidad.
    * ROI B: Zona totalmente blanca.
    * ROI A y F: Zona con partes cuarteadas blancas.
    * ROI D: Zona parcialmente clara.
    * ROI C: Zona parcialmente obscura.
    * ROI E: Zona obscura.
 * Para efectos de la presente experimentación, asumiremos que la calidad alta del alimento se determina por una zona totalmente blanca y la calidad baja se determina por una zona tptalmente obscura.

In [8]:
path = "D:\\Documentos\\LUIS AUGUSTO\\UPN 2019-2\\Tesis\\Data\\test_01\\rois\\"

### Carga de Datos y Filtrado Inicial para datos entre la longitud de onda 400 y la banda 1000 (Bandas 49 - 124)

#### ROI A

In [15]:
A = pd.read_csv(path + 'A.roi.txt', sep='\t')
A = A.dropna(axis=1)
A = A.iloc[:,49:125]
A.head()

,400,408,416,424,432,440,448,456,464,472,...,928,936,944,952,960,968,976,984,992,1000
0,2340,2627,2746,2950,3182,3273,3145,3273,3322,3325,...,801,812,719,731,687,620,600,537,508,526
1,2500,2700,2922,3097,3243,3183,3417,3226,3500,3459,...,836,815,821,732,703,640,647,578,550,520
2,2477,2729,2995,3003,3195,3283,3354,3266,3415,3512,...,839,825,780,769,712,682,663,600,535,554
3,2459,2713,2945,3087,3135,3349,3471,3450,3429,3460,...,769,795,753,715,693,669,594,554,479,515
4,2451,2755,2946,3046,3160,3295,3287,3250,3324,3477,...,765,737,733,735,659,610,581,559,510,479

#### ROI B

In [17]:
B = pd.read_csv(path + 'B.roi.txt', sep='\t')
B = A.dropna(axis=1)
B = A.iloc[:,49:125]
B.head()

,792,800,808,816,824,832,840,848,856,864,...,928,936,944,952,960,968,976,984,992,1000
0,1437,1400,1404,1349,1309,1283,1143,1182,1137,1011,...,801,812,719,731,687,620,600,537,508,526
1,1480,1526,1409,1366,1322,1220,1158,1160,1114,1090,...,836,815,821,732,703,640,647,578,550,520
2,1497,1519,1482,1411,1384,1354,1265,1180,1172,1150,...,839,825,780,769,712,682,663,600,535,554
3,1516,1452,1331,1326,1284,1274,1227,1165,1074,1058,...,769,795,753,715,693,669,594,554,479,515
4,1419,1422,1275,1305,1237,1225,1191,1084,1027,1005,...,765,737,733,735,659,610,581,559,510,479

#### ROI C

In [18]:
C = pd.read_csv(path + 'C.roi.txt', sep='\t')
C = A.dropna(axis=1)
C = A.iloc[:,49:125]
C.head()

,792,800,808,816,824,832,840,848,856,864,...,928,936,944,952,960,968,976,984,992,1000
0,1437,1400,1404,1349,1309,1283,1143,1182,1137,1011,...,801,812,719,731,687,620,600,537,508,526
1,1480,1526,1409,1366,1322,1220,1158,1160,1114,1090,...,836,815,821,732,703,640,647,578,550,520
2,1497,1519,1482,1411,1384,1354,1265,1180,1172,1150,...,839,825,780,769,712,682,663,600,535,554
3,1516,1452,1331,1326,1284,1274,1227,1165,1074,1058,...,769,795,753,715,693,669,594,554,479,515
4,1419,1422,1275,1305,1237,1225,1191,1084,1027,1005,...,765,737,733,735,659,610,581,559,510,479

#### ROI D

In [19]:
D = pd.read_csv(path + 'D.roi.txt', sep='\t')
D = A.dropna(axis=1)
D = A.iloc[:,49:125]
D.head()

,792,800,808,816,824,832,840,848,856,864,...,928,936,944,952,960,968,976,984,992,1000
0,1437,1400,1404,1349,1309,1283,1143,1182,1137,1011,...,801,812,719,731,687,620,600,537,508,526
1,1480,1526,1409,1366,1322,1220,1158,1160,1114,1090,...,836,815,821,732,703,640,647,578,550,520
2,1497,1519,1482,1411,1384,1354,1265,1180,1172,1150,...,839,825,780,769,712,682,663,600,535,554
3,1516,1452,1331,1326,1284,1274,1227,1165,1074,1058,...,769,795,753,715,693,669,594,554,479,515
4,1419,1422,1275,1305,1237,1225,1191,1084,1027,1005,...,765,737,733,735,659,610,581,559,510,479

#### ROI E

In [20]:
E = pd.read_csv(path + 'E.roi.txt', sep='\t')
E = A.dropna(axis=1)
E = A.iloc[:,49:125]
E.head()

,792,800,808,816,824,832,840,848,856,864,...,928,936,944,952,960,968,976,984,992,1000
0,1437,1400,1404,1349,1309,1283,1143,1182,1137,1011,...,801,812,719,731,687,620,600,537,508,526
1,1480,1526,1409,1366,1322,1220,1158,1160,1114,1090,...,836,815,821,732,703,640,647,578,550,520
2,1497,1519,1482,1411,1384,1354,1265,1180,1172,1150,...,839,825,780,769,712,682,663,600,535,554
3,1516,1452,1331,1326,1284,1274,1227,1165,1074,1058,...,769,795,753,715,693,669,594,554,479,515
4,1419,1422,1275,1305,1237,1225,1191,1084,1027,1005,...,765,737,733,735,659,610,581,559,510,479

#### ROI F

In [21]:
F = pd.read_csv(path + 'F.roi.txt', sep='\t')
F = A.dropna(axis=1)
F = A.iloc[:,49:125]
F.head()

,792,800,808,816,824,832,840,848,856,864,...,928,936,944,952,960,968,976,984,992,1000
0,1437,1400,1404,1349,1309,1283,1143,1182,1137,1011,...,801,812,719,731,687,620,600,537,508,526
1,1480,1526,1409,1366,1322,1220,1158,1160,1114,1090,...,836,815,821,732,703,640,647,578,550,520
2,1497,1519,1482,1411,1384,1354,1265,1180,1172,1150,...,839,825,780,769,712,682,663,600,535,554
3,1516,1452,1331,1326,1284,1274,1227,1165,1074,1058,...,769,795,753,715,693,669,594,554,479,515
4,1419,1422,1275,1305,1237,1225,1191,1084,1027,1005,...,765,737,733,735,659,610,581,559,510,479